@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500;700&display=swap');

/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

/*OlD
 :root {
  --bg-color: #191f36;
  --snd-bg-color: #262b40;
  --text-color: #fff;
  --main-color: #59b2f4;
  --p-font-size: 1.7rem;
} */


/* New Gold ------------------------------------------*/
/* :root {
  --bg-color: #1d2232;
  --snd-bg-color: #30384d;
  --text-color: #fff;
  --main-color: #FFC400;
} */

/* Main Dark Color------------------------------------
:root {
  --snd-bg-color: #1c2635;
  --bg-color: #121820;
  --text-color: #e0e0e0;
  --main-color: #4a90e2;
} */

:root {
  --bg-color: #ffffff; /* Primary Background Color */
  --snd-bg-color: #f4f4f6; /* Subtle light gray for sections */
  --text-color: #333333; /* Default Text Color */
  --main-color: #0078d4; /* Vibrant Blue for Accent */
  --accent-color: #f25c54; /* Warm Coral for Highlights */
}

h1 ,
h2 {
  color: black;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 9rem 9% 9rem;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 4rem;
}

.heading span {
  color: var(--main-color);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Move back to original position */
  }
}
/* NavBar ----------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 8%;
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.logo {
  font-size: 2.4rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 2.5rem;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-color);
  transition: width 0.3s;
  margin-top: 5px;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

/* DAOUD.Dev Style */
.header .logo,
.header a .dot,
.header a .dev {
  font-family: 'Oswald', sans-serif;
}

.header a .dev {
  color: var(--main-color);
}

.header a .dot {
  color: gray;
}
/* End */

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* Hero Section ----------------------------------------------------*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  gap: 7rem;
  font-family: 'Roboto';
  margin-top: 2rem;
}

.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 1.5rem;

  font-family: 'Poppins', sans-serif;
}

.home-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
}

.home-img img {
  width: 32vw;
  height: auto;
  border-radius: 50%;
  animation: fadeInUp 1s ease-out, float 6s ease-in-out infinite;
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.4s ease;
  box-shadow: 0 0 20px #0000003a;
}

h1 span {
  color: var(--main-color);
}

/* Floating effect for subtle movement */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Fade-in and slide-up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.7rem;
  line-height: 1.6;
  color: var(--text-color);
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.4rem;
  color: var(--main-color);
  margin: 1.5rem 1.3rem 1.8rem 0;
  transition: .5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--snd-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  color: var(--bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px var(--main-color);
}

.btn:hover i{
  animation: bounce 0.5s infinite;
}




/* About Section ----------------------------------------------------*/
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: var(--snd-bg-color);
}

.about-img img {
  width: 35vw;
}

.about-img img {
  border-radius: 15px;
  box-shadow: 0 10px 20px var(--text-color);
}


.about-content h2 {
  text-align: left;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.7rem;
  margin: 2rem 0 3rem;
  line-height: 1.6;
  color: var(--text-color);

}

.about-content .btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
}

.primary-btn:hover {
  background-color: var(--main-color);
}

.secondary-btn {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.secondary-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* Skills Section ----------------------------------------------------*/
.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  position: relative;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.skills h2 {
  font-family: 'Poppins', sans-serif;
}

.skills-column {
  flex: 1;
  text-align: center;
}

.skills-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.skills-title i{
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.skills-row {
  display: flex;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  overflow: visible;
  position: relative
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.skill-item i {
  font-size: 5rem;
  color: gray;
  transition: color 0.15s ease; /* Smooth color change */
}

.skill-item span {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: gray;
  transition: color 0.15s ease; /* Smooth color change */
}

.skill-item:hover {
  transform: scale(1.1) !important;
}

.skill-item:hover i,
.skill-item:hover span {
  color: var(--main-color); /* Change color to white */
}

.skills-column h4 {
  font-size: 1.8rem;
  color: var(--main-color);
  margin-bottom: 2.2rem;
  font-weight: 500;
}

/* Divider */
.skills-divider {
  width: 1px;
  background: #444; /* Visible line color */
  height: 100%; /* Takes the full height of the parent container */
  position: absolute;
  left: 50%; /* Center the line between columns */
  transform: translateX(-50%);
  border-radius: 4px;
}

/* Experience Section ----------------------------------------------------*/
.experience {
  background: var(--snd-bg-color);
}

.experience h2 {
  font-family: 'Poppins', sans-serif;
}

.experience-item {
  display: flex;
  flex-direction: column;
  border-left: 0.3rem solid var(--main-color);
  margin-bottom: 3rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05); /* Subtle background for the item */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Modern shadow effect */
}


.experience-item h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.experience-item h4 {
  font-size: 1.7rem;
  font-weight: normal;
  color: gray;
  margin-bottom: 1rem;
}

.experience-item .role {
  font-size: 1.8rem;
  color: var(--main-color);
  margin: 0.5rem 0;
}

.experience-item .type {
  font-size: 1.6rem;
  font-style: italic;
  color: var(--text-color);
  margin-top: 0.3rem;
}

.experience-item ul {
  list-style-type: none;
  padding-left: 0;
}

.experience-item ul li {
  font-size: 1.6rem;
  color: gray;
  margin: 0.8rem 0;
  line-height: 1.6;
}

.experience-item ul li::before {
  content: "• ";
  color: var(--main-color);
  font-weight: bold;
  margin-right: 0.5rem;
}


/* Portfolio Section ----------------------------------------------------*/
.portfolio {
  background: linear-gradient(135deg, #f4f4f6, #c7eaff); /* Softer light gray to light blue */
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio h4, p {
  color: var(--snd-bg-color);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--snd-bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: .5s ease;
  opacity: .8;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2.5rem;
  color: var(--bg-color);
}

/* Education Section ----------------------------------------------------*/
.education {
  background: var(--bg-color);
}




.education h2 {
  font-family: 'Poppins', sans-serif;
}

.education-item h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0.7rem 0;
}

.education-item h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1.5rem;
}

.education-item {
  margin-bottom: 3rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05); /* Subtle card background */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Card shadow effect */
}

.education-header {
  font-size: 1.6rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.education-year {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-color);
  background: rgba(0, 120, 212, 0.2); /* Highlight year */
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}

.projects ul {
  list-style: none;
  padding-left: 1.2rem;
}

.projects li {
  font-size: 1.6rem;
  color: var(--text-color);
  margin: 0.8rem 0;
}

.projects li::before {
  content: "• ";
  color: var(--main-color);
  font-weight: bold;
  margin-right: 0.5rem;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 2rem 0;
}


/* Certificates Section ----------------------------------------------------*/
.certificates {
  background: var(--snd-bg-color);
}

.certificate-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.certificate-box {
  text-align: center;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.certificate-box img {
  width: 100%;
  max-width: 200px;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.certificate-box p {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 0 5rem;
}

/* Modal container styling ---------------------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* Modal content styling */
.modal-content {
  max-width: 90%; /* Ensures responsiveness */
  max-height: 90%;
  display: block;
  margin: auto;
  animation: fadeIn 0.3s;
}

/* Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Responsive design adjustments */
@media only screen and (max-width: 768px) {
  .modal-content {
      max-width: 95%;
      max-height: 80%;
  }
}


/* Contact Section ----------------------------------------------------*/
.contact {
  background: var(--snd-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: .9rem;
  margin: .7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* Footer Design ----------------------------------------------------*/

.footer {
  background-color: #101820;
  color: #fff;
  padding: 3rem 9%;
  font-family: 'Arial', sans-serif;
  border-top: 3px solid var(--main-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text {
  font-size: 1.4rem;
  flex: 1;
  line-height: 1.8;
}

.colored {
  color: var(--main-color);
}

.footer-socials {
  display: flex;
  gap: 2rem;
  flex: 1;
  justify-content: center;
}

.footer-socials a {
  font-size: 2.6rem;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: var(--main-color);
}



@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-socials {
    margin: 1.5rem 0;
  }

  .footer-text {
    margin-bottom: 1.5rem;
  }
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
  position: fixed;
  bottom: 20px; /* Distance from the bottom of the screen */
  right: 20px; /* Distance from the right side of the screen */
  background-color: #007bff; /* Change to match your website's primary color */
  color: #fff;
  padding: 12px 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  z-index: 1000; /* Ensure it's on top of other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.back-to-top:hover {
  background-color: #0056b3; /* Slightly darker shade for hover */
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.back-to-top i {
  pointer-events: none; /* Prevent icon from interfering with clicks */
}

/* Make the button visible after scrolling down */
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Initial hidden state */
.back-to-top {
  transform: translateY(20px); /* Slightly below the initial position */
}




/* Media Query ----------------------------------------------------*/
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  .contact,
  .portfolio,
  .experience,
  .education,
  .certificates {
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 6rem 3%;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact,
  .projects,
  .experience,
  .education {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
    padding-top: 3rem;
    gap: 1rem;
  }

  .home-content {
    order: 2;
  }

  .home-content h3{
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 90vw;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .about {
    flex-direction: column;
  }

  .about-img img {
    width: 30vw;
    margin-top: 4rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .home-img img {
    width: 80vw;
    margin-top: 8rem;
  }

  .about-img img {
    width: 90vw;
    margin-top: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

/* Responsive CSS for Skills Section: ----------------------------------------------------*/
@media (max-width: 1024px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .skills-row {
    justify-content: center;
    gap: 5rem;
  }

  .skills-divider {
    display: none; /* Hide the divider on smaller screens */
  }
}

/* Responsive CSS for Experience Section: ----------------------------------------------------*/
@media (max-width: 768px) {
  .experience-item {
    padding-left: 1rem;
    border-left-width: 0.2rem;
  }

  .experience-item h3 {
    font-size: 2rem;
  }

  .experience-item h4 {
    font-size: 1.6rem;
  }

  .experience-item ul li {
    font-size: 1.4rem;
  }
}

/* Responsive CSS for Education Section: ----------------------------------------------------*/
@media (max-width: 768px) {
  .education-item {
    padding: 1.2rem;
  }

  .education-item h3 {
    font-size: 2rem;
  }

  .education-item h4 {
    font-size: 1.8rem;
  }

  .projects span {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .education-header {
    font-size: 1.4rem;
  }

  .projects p {
    font-size: 1.2rem;
  }
}


/* Responsive CSS for Certificate  Section: ----------------------------------------------------*/
@media (max-width: 1024px) {
  .certificate-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .certificate-box img {
    max-width: 300px;
  }

  .certificate-box p {
    padding: 0 2rem;
    font-size: 1.7rem;
  }
}
